.figure-table {
  padding: 0;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 1rem;
  position: relative;
  .table-tool-bar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    li {
      cursor: pointer;
      padding: 0.3rem;
      border: 1px solid #89e99c;
      border-radius: 3px;
      min-width: 4rem;
      text-align: center;
    }

    margin-bottom: 0.5rem;
  }
  .table-tool-plus {
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    margin-top: -0.75rem;
    margin-left: -0.75rem;
    border-radius: 0.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
      cursor: pointer;
      background-color: #405261;
      span {
        color: white;
      }
    }
    span {
      font-size: 1.5rem;
    }
  }
  .table-tool-menu-row {
    position: absolute;
    width: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
      cursor: pointer;
      background-color: #405261;
      span {
        color: white;
      }
    }
    span {
      font-size: 1.5rem;
    }
  }
  .table-tool-menu-col {
    position: absolute;
    height: 2.3rem;
    margin-top: -2.3rem;
    ul {
      display: flex;
      margin: 0;
      padding: 0;
      display: flex;
      list-style-type: none;
      justify-content: space-between;
      li {
        flex: 1;
        text-align: center;
        &:hover {
          box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
          cursor: pointer;
          background-color: #405261;
          span {
            color: white;
          }
        }
      }
    }
  }
  table {
    border-collapse: collapse;
    width: 100%;
    position: relative;
    thead tr {
      background: var(--table-head-background-color, #f5f5f5);
      font-weight: bold;
    }

    td {
      border: 1px solid var(--table-border-color, #e5e5e5);
      padding: 0.5em;
      position: relative;

      &.table-cell-align-center {
        text-align: center;
      }
      &.table-cell-align-left {
        text-align: left;
      }
      &.table-cell-align-right {
        text-align: right;
      }
    }
  }
}
